@import 'inc/scss/base/variables.scss';

.quote-banner {
  padding: 40px 120px;
  border-radius: 24px;
  position: relative;

  &--bg {
    border: 1px solid var(--borders-color, $borders-color);
  }

  @media only screen and (max-width: 1024px) {
    padding: 40px 80px;
  }

  @media only screen and (max-width: 768px) {
    padding: 24px 44px;
  }

  @media only screen and (max-width: 412px) {
    padding: 24px 24px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between
  }

  &__left-icon,
  &__right-icon {
    max-width: 80px;
    height: auto;
    position: absolute;

    @media only screen and (max-width: 1024px) {
      max-width: 64px;
    }

    @media only screen and (max-width: 768px) {
      max-width: 48px;
    }
  }

  &__left-icon {
    left: 25px;
    top: -30px;

    @media only screen and (max-width: 768px) {
      top: -22px;
    }
  }

  &__right-icon {
    right: 25px;
    bottom: -30px;

    @media only screen and (max-width: 768px) {
      bottom: -22px;
    }
  }

  &__content {
    flex: 1;
    font-weight: 700;
    font-style: italic;
    margin: 0;
  }
}
