@import 'inc/scss/base/variables.scss';

.advantages-block {
  &[style*="--adv-bg-color"] {
  }

  &--bg {
    .advantage-box {
      border: 1px solid var(--borders-color, $borders-color);
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.advantage-box {
  background-color: var(--adv-bg-color, #0D1826);
  padding: 16px 24px;
  border-radius: 16px;
  flex: 1 1 300px;
  position: relative;

  @media only screen and (max-width: 768px) {
    flex: 1 1 177px;
  }

  &--no-icon {
    .advantage-box__title {
      margin-left: 0;
    }
  }

  &--no-title {
    padding-top: 50px;

    .advantage-box__icon {
      top: -15px;
    }
  }

  &__icon {
    position: absolute;
    top: -8px;
    left: 22px;

    img {
      max-width: 55px;
      max-height: 55px;

      @media (max-width: 768px) {
        max-width: 45px;
        max-height: 45px;
      }
    }
  }

  &__title {
    margin-bottom: 30px;
    margin-left: 75px;
  }

  &__list {
    margin: 0;
    list-style: none;

    &.advantage-box__list--dots {
      list-style: disc inside;

      .advantage-box__list-item {
        padding: 0;
      }
    }

    &.advantage-box__list--numbers {
      list-style: decimal inside;

      .advantage-box__list-item {
        padding: 0;
      }
    }

    .advantage-box__list-item {
      margin-bottom: 13px;
      padding-left: 24px;
      position: relative;

      &::before {
        content: none;
      }

      &:nth-last-child(1) {
        margin-bottom: 0;
      }
    }

    .advantage-box__list-icon {
      position: absolute;
      left: 0;
      top: 4px;
      max-width: 22px;
    }
  }
}

@media (max-width: 768px) {
  .advantages-block__row {
    flex-direction: column;
  }
}
